<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>org.siavashg.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOHIDFamily</key>
		<string>1.8</string>
		<key>com.apple.iokit.IOUSBFamily</key>
		<string>5.4</string>
		<key>com.apple.kpi.iokit</key>
		<string>12.2</string>
		<key>com.apple.kpi.libkern</key>
		<string>12.2</string>
		<key>com.apple.kpi.mach</key>
		<string>12.2</string>
	</dict>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>Generic Xbox Device</key>
		<dict>
			<key>DeviceData</key>
			<dict>
				<key>IR</key>
				<dict>
					<key>ButtonMap</key>
					<array>
						<integer>213</integer>
						<integer>226</integer>
						<integer>234</integer>
						<integer>227</integer>
						<integer>221</integer>
						<integer>224</integer>
						<integer>230</integer>
						<integer>223</integer>
						<integer>229</integer>
						<integer>166</integer>
						<integer>195</integer>
						<integer>169</integer>
						<integer>11</integer>
						<integer>168</integer>
						<integer>247</integer>
						<integer>167</integer>
						<integer>216</integer>
						<integer>206</integer>
						<integer>205</integer>
						<integer>204</integer>
						<integer>203</integer>
						<integer>202</integer>
						<integer>201</integer>
						<integer>200</integer>
						<integer>199</integer>
						<integer>198</integer>
						<integer>207</integer>
					</array>
					<key>GenericProperties</key>
					<dict>
						<key>Interfaces</key>
						<array>
							<dict>
								<key>Endpoints</key>
								<array>
									<dict>
										<key>Attributes</key>
										<integer>129</integer>
										<key>MaxPacketSize</key>
										<integer>8</integer>
										<key>PollingInterval</key>
										<integer>16</integer>
									</dict>
								</array>
							</dict>
							<dict/>
						</array>
					</dict>
					<key>HIDReportDescriptor</key>
					<data>BQEJBaEBdQGVGxUAJQEFCRkBKRuBAnUFlQGBA3UIlQKBA8A=</data>
					<key>Name</key>
					<string>Xbox Remote Control</string>
					<key>Vendor</key>
					<string>Unknown Third-Party</string>
				</dict>
				<key>KnownDevices</key>
				<dict>
					<key>1035</key>
					<dict>
						<key>25889</key>
						<dict>
							<key>Name</key>
							<string>Xbox Remote</string>
							<key>Type</key>
							<string>IR</string>
						</dict>
						<key>Vendor</key>
						<string>Weltrend Semiconductor</string>
					</dict>
					<key>1118</key>
					<dict>
						<key>514</key>
						<dict>
							<key>Name</key>
							<string>Xbox Controller</string>
							<key>Type</key>
							<string>Pad</string>
						</dict>
						<key>644</key>
						<dict>
							<key>Name</key>
							<string>Xbox Remote Control</string>
							<key>Type</key>
							<string>IR</string>
						</dict>
						<key>645</key>
						<dict>
							<key>Name</key>
							<string>Xbox Controller S</string>
							<key>Type</key>
							<string>Pad</string>
						</dict>
						<key>649</key>
						<dict>
							<key>Name</key>
							<string>Xbox Controller S</string>
							<key>Type</key>
							<string>Pad</string>
						</dict>
						<key>Vendor</key>
						<string>Microsoft</string>
					</dict>
					<key>1533</key>
					<dict>
						<key>4103</key>
						<dict>
							<key>Name</key>
							<string>PowerPad</string>
							<key>Type</key>
							<string>Pad</string>
						</dict>
						<key>Vendor</key>
						<string>InterAct</string>
					</dict>
					<key>1848</key>
					<dict>
						<key>17686</key>
						<dict>
							<key>Name</key>
							<string>4516</string>
							<key>Type</key>
							<string>Pad</string>
						</dict>
						<key>17702</key>
						<dict>
							<key>Name</key>
							<string>4526</string>
							<key>Type</key>
							<string>Pad</string>
						</dict>
						<key>17718</key>
						<dict>
							<key>Name</key>
							<string>Microcon</string>
							<key>Type</key>
							<string>Pad</string>
						</dict>
						<key>25376</key>
						<dict>
							<key>Name</key>
							<string>Wheel</string>
							<key>Type</key>
							<string>Pad</string>
						</dict>
						<key>Vendor</key>
						<string>MadCatz</string>
					</dict>
					<key>3660</key>
					<dict>
						<key>9104</key>
						<dict>
							<key>Name</key>
							<string>Phoenix</string>
							<key>Type</key>
							<string>Pad</string>
						</dict>
						<key>Vendor</key>
						<string>Gamester</string>
					</dict>
					<key>3695</key>
					<dict>
						<key>3</key>
						<dict>
							<key>Name</key>
							<string>Eclipse Wireless</string>
							<key>Type</key>
							<string>Pad</string>
						</dict>
						<key>Vendor</key>
						<string>Pelican</string>
					</dict>
					<key>3888</key>
					<dict>
						<key>514</key>
						<dict>
							<key>Name</key>
							<string>ShockForce</string>
							<key>Type</key>
							<string>Pad</string>
						</dict>
						<key>Vendor</key>
						<string>MXB</string>
					</dict>
					<key>65535</key>
					<dict>
						<key>65535</key>
						<dict>
							<key>Name</key>
							<string>Unknown Gamepad 0xFFFF</string>
							<key>Type</key>
							<string>Pad</string>
						</dict>
						<key>Vendor</key>
						<string>Unknown Vendor 0xFFFF</string>
					</dict>
				</dict>
				<key>Pad</key>
				<dict>
					<key>GenericProperties</key>
					<dict>
						<key>Interfaces</key>
						<array>
							<dict>
								<key>Endpoints</key>
								<array>
									<dict>
										<key>Attributes</key>
										<integer>130</integer>
										<key>MaxPacketSize</key>
										<integer>32</integer>
										<key>PollingInterval</key>
										<integer>4</integer>
									</dict>
									<dict>
										<key>Attributes</key>
										<integer>2</integer>
										<key>MaxPacketSize</key>
										<integer>32</integer>
										<key>PollingInterval</key>
										<integer>4</integer>
									</dict>
								</array>
							</dict>
						</array>
					</dict>
					<key>HIDReportDescriptor</key>
					<data>BQEJBaEBdQiVARUAJv8AgQF1CJUBFQAW/wCBAQUBCQGhAHUBlQEVACUBBQkJC4ECCQyBAgkNgQIJDoECwHUBlQEVACUBBQkJB4ECCQiBAgkJgQIJCoECdQiVAYEBdQiVARUAJQEFCQkBgQIJAoECCQOBAgkEgQIJBYECCQaBAnUIFQAm/wCVAgUBCTIJNYECdRAWAIAm/38FAQkBoQCVAgUBCTAJMYECwAUBCQGhAJUCBQEJMwk0gQLABQEJAaEAdQiVAZEBdQiVAZEBdQiVAZEBdQiVARUAJv8ABgD/CQGRAnUIlQGRAXUIFQAm/wCVAQYA/wkCkQLAwA==</data>
					<key>Name</key>
					<string>Xbox Controller</string>
					<key>Vendor</key>
					<string>Unknown Third-Party</string>
				</dict>
			</dict>
			<key>IOClass</key>
			<string>XboxControllerHID</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>ClassicMustNotSeize</key>
				<true/>
			</dict>
			<key>bInterfaceClass</key>
			<integer>88</integer>
			<key>bInterfaceProtocol</key>
			<integer>0</integer>
			<key>bInterfaceSubClass</key>
			<integer>66</integer>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2012 Siavash Ghorbani. All rights reserved.</string>
</dict>
</plist>
